@use "../../sass/index" as *;

.posters {
  position: relative;

  .swiper {
    width: 100%;
    margin: 0;
    position: absolute;
  }

  &__item {
    width: 15rem;
    height: 10rem;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 0.75rem;
  }
}
